<?xml version='1.0' encoding='utf-8'?>
<widget id="at.wifi-it.myhelloapp" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>MyHelloApp</name>
    <description>
        Hello World Beispiel
    </description>
    <author email="p.bach@corporatematters.at" href="http://www.corporatematters.at">
        CPMT Team
    </author>
    <content src="index.html" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
    <plugin name="cordova-plugin-whitelist" source="npm" spec="~1.2.1" />

    <icon height="50" platform="windows" src="www/draw_128.png" />

    <platform name="android">
    </platform>
    <platform name="windows">
    </platform>

    <access origin="*" />
    <!-- <allow-intent href="http://*/*" /> -->
    <!-- <allow-intent href="https://*/*" /> -->

</widget>
